<div id="messages">
  <div class="msg hide">
    <p></p>
  </div>
</div>

<div class="gray-box">
  <div class="facebook-login">
    <a id="fb-login-link" class="fb-button">
      <img src="images/icon/f_logo.png" alt="">{{uiI18n.login.fbConnect}}
    </a>
  </div>
</div>

<div class="or">OR</div>

<div class="gray-box">
  <form id="login-form" class="h-form">
    <p>
    <input type="email" name="email" value="" placeholder="{{uiI18n.login.email}}">
    </p>
    <p>
    <input autocomplete="off" type="password" name="password" value="" placeholder="{{uiI18n.login.password}}">
    </p>
    <p class="submit"><input type="submit" value="Login" class="main-button"></p>
  </form>
</div>

