<div id="messages">
  <div class="msg hide">
    <p></p>
  </div>
</div>

<div class="gray-box">
  <div class="facebook-login">
    <a id="fb-login-link" class="fb-button">
      <img src="images/icon/f_logo.png" alt="">Connect with Facebook
    </a>
  </div>
</div>

<div class="or">OR</div>

<div class="gray-box">
  <form id="signup-form" class="h-form">
    <p>
    <input type="email" name="email" value="" placeholder="Email">
    </p>
    <p>
    <input autocomplete="off" type="password" name="password" value="" placeholder="Password">
    </p>
    <p>
    <input autocomplete="off" type="text" name="nickname" value="" maxlength="64" placeholder="Name">
    </p>
    <p class="submit"><input type="submit" value="Signup" class="main-button"></p>
  </form>
</div>

